global
    maxconn 1000

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

# FRONTEND & BACKEND UNTUK WRITE (MAIN)
frontend ft_postgresql_rw
    bind *:5000
    default_backend bk_postgresql_rw

backend bk_postgresql_rw
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    # Jika primary pindah, putuskan koneksi lama agar aplikasi reconnect ke primary baru
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server spilo1 spilo1:5432 maxconn 100 check port 8008
    server spilo2 spilo2:5432 maxconn 100 check port 8008

# FRONTEND & BACKEND UNTUK READ (REPLICA)
frontend ft_postgresql_ro
    bind *:5001
    default_backend bk_postgresql_ro

backend bk_postgresql_ro
    mode tcp
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server spilo1 spilo1:5432 maxconn 100 check port 8008
    server spilo2 spilo2:5432 maxconn 100 check port 8008
